<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for a ONA human</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/typeahead.js')}}"></script>
    
    </head>
    <body>
    <h2 id="h2">#ONA17Collaborate</h2>
             <h3>About This Project</h3>
            <h3>By Caitlin Ostroff</h3>
 <div class="content">

         <div class="navbar-top">
             
    <ul class="navbar">
    <li><a href="{{url_for('homepage')}}">Home</a> </li>
    <li><a href="{{url_for('about')}}">About</a> </li>
        </ul>
        </div>
     <div id="about">
<p>Collaboration and networking are two essential components of modern journalism. It is the purpose of this app to aid in those efforts. The great thing about the ONA conference as compared to others is the convergence of people from all skill sets.</p>
         
<p>We at the ONA17 Student Newsroom and Innovation Lab hope you find this a useful tool to find others to meet and collaborate with.</p>

         


<i><p id="credit">Credit: This is a project of the <a href="//newsroom17.journalists.org/">ONA17 Student Newsroom and Innovation Lab</a>. Twitter Icon by Luboš Volkov and User Icon by Evgeniy Kozachenko, both from the Noun Project</p></i>
         </div>
     </body>
</html>
