<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for a ONA human</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/typeahead.js')}}"></script>
    
    </head>

<h1>About This Project</h1>
<p>Collaboration and networking are two essential parts of modern journalism. It is the purpose of this app to aide in those efforts. The great thing about the ONA conference as compared to others is the convergence of people from all skillsets.</p>

<p>As I sit among the 20 members of this year's ONA Student Newsroom, I'm in awe of how different we are and the content we're products of all topics and platforms. By working together, we're learning new topics and drawing upon each other's strengths.</p>

<p>This is the future of journalism: collaboration. At ONA, we hope you take advantage of this app and meet with people in your state, with similar or dissimlar interests of your own or those from a publication you admire.</p>

<p>It's my admittedly young and optomistic hope you will network with these people, so that different newsrooms can partner to create in-depth journalism so deperately needed.</p>

</html>