<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for a ONA human</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static', filename='js/states.js')}}"></script>
    	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js" type="text/javascript"></script>
   
<link href="//fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    </head>
<body>

    
    <div class="content">
 <header><a href="//ona17.journalists.org/"> <img id="header" src="{{ url_for('static', filename='img/ONA17-square.png')}}"></a> 
</header>

         <div class="navbar-top">
         <h1>ONA Collaborate</h1>
            <h2>By Caitlin Ostroff</h2>
    <ul class="navbar">
    <li><a href="{{url_for('homepage')}}">Home</a> </li>
    <li><a href="{{url_for('about')}}">About</a> </li>
        </ul>
        </div>

   
  {% include 'searchbox.html' %}

  
<footer>
    <p>Data comes from the <a href="//www.journalists.org">Online News Association</a></p>
    </footer>
    </body>
    
    </div>

</html>
