<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for a ONA human</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/typeahead.js')}}"></script>
    	<script src="{{url_for('static', filename='js/main.js')}}"></script>
    <!-- particles.js container --> <div id="particles-js"></div> <!-- stats - count particles -->  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
</head>
<body>

    <div class="content">

  <h1>Search for an ONA human</h1>
  {% include 'searchbox.html' %}

  <p>Data comes from the <a href="https://www.journalists.org">Online News Association</a></p>
</div>
    </body>
<div class="thanks">
    <p>Twitter Icon by Luboš Volkov and User Icon by Evgeniy Kozachenko, both from the Noun Project</p>
    </div>
</html>
