<form action="{{url_for('results')}}" method="get">


        <br>
    <h3>Search by:</h3>
    <div id="states">
        <p>State or Country</p>
        <input type="text" class="typeahead" id="state" name="state" value="">
    </div>
        <p>Publication</p>
    <div id="publications">
        <input type="text" class="typeahead" name="publication" value="">
    </div>
       <div id="interests">
    <p>Title</p>
        <input type="text" class="typeahead" name="interest" value="">

 </div>
        <br>
        <input class="submit-button" type="submit" value="Submit">
  </form>
